.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 10px 20px;
  color: white;
  height: 35px;
}

.home {
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
  padding: 5px 10px;
  font-size: 16px;
  outline: none;
}

.search-bar {
  display: flex;
  align-items: center;
  width: 50%;
}

input[type="text"] {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-right: 10px;
  width: 100%;
}
